<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Drexel</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/jquery.jqplot.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/drexel.css">
</head>
<body>
    {{{body}}}

    <script language="javascript" type="text/javascript" src="/js/jquery.min.js"></script>
    <script language="javascript" type="text/javascript" src="/js/jquery.jqplot.min.js"></script>
    <script language="javascript" type="text/javascript" src="/js/jqplot/plugins/jqplot.highlighter.js"></script>
    <script language="javascript" type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script language="javascript" type="text/javascript" src="/js/drexel.js"></script>
</body>
</html>
