<div class="container">
    <div class="row">
        <div class="drexel header">
            <div class="col-lg-8">
                <div class="drexel primary">
                    <h1>Drexel Administration</h1>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="drexel primary">
                    <div class="drexel server-status"></div>
                    <div>
                        <button type="button" class="btn btn-primary drexel server-status-toggle" data-server-status="unknown">Start Server</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <div class="drexel primary entity-tree"></div>
        </div>
        <div class="col-lg-9">
            <div class="drexel primary admin"></div>
        </div>
    </div>
</div>
