<div class="container">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <div class="drexel error">
                <h1>{{{status}}} - {{{message}}}</h1>

                {{#if error}}
                    <h2>Additional messages</h2>
                {{/if}}

                <h4>{{{error}}}</h4>
            </div>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>
