<div class="container drexel main">
    <div class="row">
        <div class="col-lg-12">
            <div class="drexel primary">
                <h1>Welcome to Drexel</h1>
            </div>
        </div>
    </div>
</div>
