<div class="container">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <div class="drexel primary">
                <h1>Game Setup</h1>

                <form action="/init-universe" method="POST">
                    <div class="form-group">
                        <label for="universe-name">Name of the Universe</label>
                        <input type="text" class="form-control" id="universe-name" name="universe-name" placeholder="Universe Name">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>
