html, body {
    height: 100%;
}

body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #000;
}

div.drexel.main {
    width: 100%;
    height: 100%;
    padding: 15px;
}

div.drexel.header div.drexel.primary {
    height: 125px;
    max-height: 125px;
}

div.drexel.error, div.drexel.primary {
    margin-top: 15px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    border-style: solid;
    border-width: 3px;
}

div.drexel.primary {
    width: 100%;
}

div.drexel.primary {
    background-color: #226;
    border-color: #44a;
    color: #bbf;
}

div.drexel.primary a:hover {
    color: #ccf;
}

div.drexel.error {
    background-color: #622;
    border-color: #a44;
    color: #ffb;
}

div.drexel.error a:hover {
    color: #ffc;
}

div.drexel.error, div.drexel.primary a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

div.drexel.server-status {
    padding-bottom: 15px;
}

div.drexel.tree-indent {
    padding-left: 10px;
}

a.drexel.tree-item {
    margin-bottom: 3px;
    padding: 3px;
    line-height: 1;
    width: 100%;
    text-align: left;
}

